#toolbar {
  background-color:cornflowerblue;
  text-align: center;
}

.board-area{
  height: 100vh;
  /* background-color: coral; */
  display: inline-flex;
  text-align: center;
  background-image: url("./img/background-board.jpg")
}

#blueColor{
  color: blue !important;
}

#redColor{
  color: red !important;
}

.win{
  background: #FFFF00 !important;
}

.square{
  
  width: 32px;
  height: 32px;
}

.btn-primary{
  border-color: skyblue !important;
  background-color: mintcream  !important;
}

.btn.btn-info{
  margin-left: 20px;
}

.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
  margin-left: 0px !important;
  
}

.board{
  text-align: center;
  margin: 0 auto;
  display: inline-table;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left:30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
  margin: auto;
  background: white;
  text-align: center;
}

#imgCaro{
  width: 50%;
}

#divImgCaro{
  text-align: center;
  margin-top: 50px;
}

.history{
  background-color: #FFFF00
}

.list-group-history{
  max-height: 250px !important;
  margin-bottom: 10px !important;
  overflow:scroll !important;
}

ul.kha {
  transform: rotate(180deg);
}
ul.kha > li {
  transform: rotate(-180deg);
}

.btn-in-li{
  width: 100%;
}